*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height:1.6;
}

/* HERO */
.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("img/hero.jpg");
    background-size:cover;
    background-position:center;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
}

.logo{
    font-size:24px;
}

.nav-btn{
    background:#FFC907;
    padding:10px 20px;
    text-decoration:none;
    color:black;
    border-radius:5px;
}

.hero-content{
    text-align:center;
    margin-top:15%;
}

.hero-content h1{
    font-size:48px;
}

.cta-btn{
    display:inline-block;
    margin-top:20px;
    padding:15px 30px;
    background:#FFC907;
    color:black;
    text-decoration:none;
    font-weight:bold;
    border-radius:6px;
    transition:0.3s;
}

.cta-btn:hover{
    transform:scale(1.1);
    background:#ffdf4d
}

/* STORY */
.story{
    display:flex;
    padding:80px 10%;
    gap:40px;
    align-items:center;
}

.story img{
    width:100%;
    border-radius:10px;
}

/* IMPACT */
.impact{
    background:#f4f4f4;
    text-align:center;
    padding:80px 10%;
}

.impact-cards{
    display:flex;
    gap:30px;
    margin-top:30px;
    justify-content:center;
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    width:200px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

/* CTA */
.cta{
    text-align:center;
    padding:100px 10%;
    background:#1FA2FF;
    color:white;
}

.big{
    font-size:22px;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
}

/* MOBILE */
@media(max-width:768px){
    .story{
        flex-direction:column;
    }
    .impact-cards{
        flex-direction:column;
        align-items:center;
    }
}
.students{
    text-align:center;
    padding:80px 10%;
}
